body {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
#nav-bar {
    
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    
}

.mylogo {
    width: 4%;
    margin-left: 5%;
    padding: 5px;
}
.nav-bar-ul {
   float:right;
   margin-right: 8%;
    
}
.nav-bar-ul-btns {
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 0 5px;
    margin:  5px 10px;
}
.homepage-top-div {
    width: 100%;
    height: 600px;
    display:block;
}
.homepage-top-div-text {
    display: inline-block;
    width: 40%;
    color: rgb(0, 0, 0);
    margin-top: 15%;
    margin-left: 5%;
    font-size: 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    

}

.homepage-top-div-hire_me {
    margin:10% 5% ;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(238, 127, 23, 0.801);
    padding: 20px ;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
}

.homepage-top-div-hire_me:hover {
    background-color: rgba(238, 127, 23, 0.719);
}

#div-2 {
    background-color: #C4C4C450;
    position: relative;
    width: 100%;
    height: 800px;
    
}

.div-2-img {
    position:absolute;
    width: 35%;
    display: inline-block;
    margin:10% 10%;
    padding: 0px;
}
#div-2-text {
    position: absolute;
    right: 10%;
    margin: 20% 0 ;
    width:40%;
    font-size: 25px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#div-3 {
    display: block;
    width: 100%;
    background-color: #000;
    height: 600px ;
}

.div-3-text {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    margin: 7% 5%;
    text-align: center;
    color: rgba(255, 255, 255, 0.534);
}
#div-3-sub_div {
    display: inline-block;
    width: 100%;
    margin-bottom: 5%;
    font-size: 20px;
    text-align: center;
}
.div-3-sub_div-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:25px;
    margin-top: 0;
    display: inline-block;
    color: rgba(255, 255, 255, 0.705);
}
.div-3-sub_div-text-title {
    color: rgba(238, 127, 23, 0.801);
    font-weight: 500;
    line-height: 20px;
}

.left {
    text-align: right;
    margin-right: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right {
    text-align: left;
    margin-left: 5%;
}
.div-3-btn {
    margin: 5% 40%;
    position: center;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.705);
}
.div-3-btn:hover{
    border: none;
    color: #000;
}
#projects {
    background-color: #C4C4C450;
    height: 700px;
}
.projects-heading {
    display: inline-block;
    margin: 5% 30% 0;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.projects-text {
    font-size: 20px;
    margin: 1% 20%;
    color: #000;
}
#project-images {
    margin-bottom: 2%;
}
.project-images {
    display: inline-block;
    width: 20%;
    margin: 5% 5% ;

}
.project-1 {
    margin-left: 10%;
}

.projects-btn {
    margin: 0 40%;
    position: center;
    font-weight: bold;
    font-size: 16px;
    color: rgba(7, 7, 7, 0.705); 
}


#help-div {
    width: 100%;
    height: 500px;
    background-image: url("image 2.png");
    background-size: cover;
}

.help-div-btn {
    margin: 10% 40%;
    
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.719);
}
#blogs {
    width: 100%;
    background-color: #C4C4C450;
    height: 700px;

}
.blogs-heading {
    margin: 5% 35% 0;
    
}
.blog-box {
    display: inline-block;
    width: 20%;
    height: 40%;
    margin: 5% 5%;
}
.blog-box-1 {
    margin-left: 10%;
}
.blog-box-img {
    margin-top: 0;
    padding: 0;
    width: 100%;
    border: 2px solid rgba(238, 127, 23, 0.801);
}
.blog-title {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 0;
}
.more-blogs-btn {
    
    color: black;
}
footer {
    background-color: #000;
    width: 100%;
    height: 500px;
}
.footer-text {
    margin: 7% 18% 4%;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.836);

}

.footer-nav-btn {
    display: inline-block;
    margin: 0% 4% 4%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.836);
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1% 1.5%;
    border: 1px solid rgba(238, 127, 23, 0.801);
}
.footer-nav-btn:hover {
    color: rgba(238, 127, 23, 0.801);
}
.footer-nav-btn-1 {
    margin-left: 10%;
}

.social-media-box {
    display: inline-block;
    
}
.social-media-icons {
    width: 12%;
    display: inline-block;
    

}
.social-media-usernames {
    display: inline-block;
    color: rgba(255, 255, 255, 0.767);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: center;
    font-size: 10px;
    margin:  15px 0 ;
}
.social-media-usernames:hover {
    color: #ffffff65;
}
.facebook-box {
    margin-left: 20%;
}
.footer-copyright-text {
    margin: 5% 30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #ffffff65;
}

@media only screen and (min-width:769px) and (max-width:998px) {
  .nav-bar-ul-btns {
        font-size: 12px;
        padding: 0;
        margin:  0 10px;
  }  
  .homepage-top-div {
      height: 400px;
  }
  .homepage-top-div-text {
    font-size: 35px;
  }
  .homepage-top-div-hire_me {
    font-size: 15px;
  }
  #div-2 {
      height:500px ;
  }
  #div-2-text {
    font-size:15px;
    
  }
  #div-3 {
      height: 400px;
  }
  .div-3-btn {
    margin: 5% 37%;
  }
  .div-3-text {
    font-size:20px;
  }
  .div-3-sub_div-text {
    font-size:13px;
  }
  #projects {
      height: 500px;
  }
  .projects-heading {
    font-size:25px;
  }
  .projects-btn {
    margin: 5% 35%;
  }
  .projects-text {
    font-size:15px;
  }
  #help-div {
      height: 300px;
  }
  .help-div-btn {
    margin: 5% 37%;
  }
  #blogs {
      height: 500px;
  }
  footer {
      height: 400px;
  }
  .footer-text {
    margin: 7% 20% 4%;
    font-size: 25px;
  }
  .footer-nav-btn-1 {
    margin-left:5%;
  }
  .social-media-icons {
      width: 10%;
  }
  .facebook-box {
      margin-left: 11%;
  }
  .footer-copyright-text {
    font-size: 9px;
    
  }
  
}
