.homepage-top-div {
    background-color:  #c4c4c4a9;
    width: 100%;
    height: 900px;
}
.nav-bar {
    display: inline-block;
    background-color:  rgba(238, 127, 23, 0.801);
        
}
.mylogo {
    width: 3%;
}
.nav-bar-ul-btns {
    color: #000000;
    

}
.nav-bar-ul-btns:hover {
    color: #ffffff;
}
.user-icon {
   display: inline-block;
   text-decoration: none;
   padding-left: 20px;
    
}
.profile-edit {
    display: inline-block;
    margin: 0 2%;
    background-color: #ffffffda;
    width: 20%;
    height: 300px;
    box-shadow: 1px 1px 7px 7px #0000002a;
    border-radius: 5px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px 0 10px 15px;
}
.profile-edit-heading {
    font-size: 15px;
    margin: 10% 0 5%;
}
input {
    width: 40%;
    margin:2% 2% 2% 8%;
    border: none;
    background-color: #00000000;
}
[type="email"] {
    margin-left: 16%;
}
[type="date"] {
    width: 40%;
    margin-left: 4%;
    margin-right: 1%;
}
.edit-btn {
    background-color: #00000000;
    color: #00000088;
    border: none;
    outline: none;
}
.edit-btn:hover {
    color: rgba(238, 127, 23, 0.801);
}
.add-article {
    display: inline-block;
    width: 60%;

}
.articles {
    display: inline-block;
    background-color: #ffffffda;
    width: 70%;
    
    margin: 2% 10%;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 7px #0000002a;
}
table {
    border-collapse: collapse;
    font-size: 12px;
    width: 80%;
    text-align: left;
    margin: 2% 5% 5%;
    
}
th {
    font-size: 13px;
}
th, td {
    width: 3%;
    border:none;
    border-bottom: 1px solid  rgba(238, 127, 23, 0.801);
    padding: 5px;
}
select {
    border: none;
    background-color: #00000000;
    color: #EE7E17;
    outline: none;
}
h2 {
    font-size: 15px;
    margin: 5% 5% 0;
}
.article-form{
    background-color: #ffffffda;
    width: 100%;
    height: 300px;
    margin: 10% 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    padding: 20px;
    
}
#blog-title {
    width: 90%;
    border: 1px solid #EE7E17;
    margin: 0  0 5%;
    height: 15px;
    outline: none;
}

#msg-box {
    width: 90%;
    border: 1px solid #EE7E17;
    margin: 0  0 5%;
    outline: none;
}
[type="submit"] {
    background-color: #EE7E17;
    font-weight: bold;
    width: 40%;
    height: 30px;
    font-size: 15px;
}

