
.homepage-top-div {
    background: url(../images/blog-image.png);
}
.homepage-top-div-hire_me {
    color: #ffffff;
    margin-right: 0;
    Padding: 20px 40PX;
}
.btn-2 {
    margin-left: 3%;
    background-color: rgba(238, 127, 23, 0.719);
}
.homepage-top-div-text {
    color: #ffffff;
}
#blogs {
    height: 1300px;
}
.blogs-heading {
    margin: 5% 6% 0;
    
}
.blog-box {
    width: 25%;
    height: 20%;
    margin: 3% 3%;
}
.blog-box-1 {
    margin-left: 6%;
}