
.blog-top-div {
    background: url(../images/blog-image.png);
}
.homepage-top-div-hire_me {
    color: #ffffff;
    margin-right: 0;
    Padding: 20px 40PX;
}
.article-nav-bar {
    background-color: rgb(0, 0, 0);
}
.btn-2 {
    margin-left: 3%;
    background-color: rgba(238, 127, 23, 0.719);
}
.homepage-top-div-text {
    color: #ffffff;
}
#background {
    background-color: #ECECEC;
    width: 100%;
    display:block;
    min-height: 700px;
}
#article-par {
    background-color: rgba(243, 240, 240, 0.945);
    width: 80%;
    margin: 0px 10% 70px;
    padding: 20px;
}

h1 {
    color: rgba(49, 48, 48, 0.904);
    width: 80%;
    margin: 30px 10% 0px;
    padding: 20px;
    text-align: center;
    background-color: rgb(255,255,254);
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
     Verdana, sans-serif;
    font-size: 50px;
    
}
.blogs-heading {
    margin: 5% 6% 0;
    
}
.blog-box {
    width: 25%;
    height: 20%;
    margin: 3% 3%;
}
.blog-box-1 {
    margin-left: 6%;
}
