
.homepage-top-div-text {
    font-size: 60px;
}

.second-div {
    height: 400px;
}
.second-div-heading {
    color: black;
    font-size: 40px;
    margin: 7% 18% 0;
}
.second-div-text {
    margin: 3% 18% 4%;
    color: black;
    font-size: 20px;
}
.portfolio-proj-div {
    background-color: #C4C4C450;
    height: 1100px;
}
.portfolio-proj-div-heading {
    color: black;
    font-size: 40px;
    margin: 7% 22% 2%;
}
#project-images {
    margin-left: 15%;
}
.project-images {
    width: 25%;
    margin: 1% 1%;
}
@media only screen and (min-width:769px) and (max-width:998px) {
    .homepage-top-div {
        height: 450px;
    }
    .homepage-top-div-text {
      font-size: 40px;
      margin-top: 20%;
    }
    .second-div {
        height:300px ;
    }
    .footer-text {
      margin: 7% 20% 4%;
      font-size: 25px;
    }
    .second-div-text {
        margin: 0 10% 4%;
        color: black;
        font-size: 15px;
    }
    .portfolio-proj-div {
        height: 700px;
    }
    
            
  }