.nav-bar {
    background-color: rgba(0, 0, 0, 0.623);
}
.nav-bar-ul-btns {
    color: #ffffff;
}    
.my-resume-div {
    height: 700px;
    padding-top: 5%;
    background-color: #C4C4C450;
}
.my-resume-content {
    width: 100%;
    display: block; 
}
.my-resume-content-left {
    height: 300px;
    width: 40%;
    display: inline-block;
}
.my-resume-content-right {
    height: 300px;
    margin-left: 0;
    width: 60%;
    float: right;
    right: 0;
}
.my-resume-list-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.my-resume-content-list {
    
    
    width: 80%;
    margin-top: 3%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 40px;
}
.resume-contact-sect {
    height: 400px;
    background-color: #ffffff;
}
.resume-contact-heading {
    margin: 10% 20% 3%;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.resume-contact-text {
    margin: 0 25% 5%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}
